body{
  background-color: black;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container{
  background-color: #0a0a42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

#todo-input ,#add-task-btn{
  padding: 5px ;
  margin: 10px;
  border-radius: 5px;
  background-color: #28284d;
  color: antiquewhite;
  border: none;
  outline: none;
  cursor: pointer;
}

#add-task-btn{
  background-color: #3d0668;
}

#add-task-btn:hover{
  background-color: #050533;
}

#todo-input:focus{
  outline:none;
  background-color: #050533;
}

ul:empty{
  display: none;
  background-color: #0a0a42;
}

#todo-list{
  list-style: none;
  background-color: #28284d;
  padding: 5px;
  border-radius: 5px;
  width: 87%;
  margin: 20px;
  cursor: pointer;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0a0a42;
  margin: 5px ;
  border-radius: 5px;
  color: antiquewhite;
}

#todo-list li button {
  background-color: #3d0668;
  border: none;
  color: antiquewhite;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#todo-list li button:hover {
  background-color: #050533;
}

.completed  {
  text-decoration: line-through;
  color: #a9a9a9;
}